<nav class="sidebar">
  <a href="#" data-name="users">
    <span class="icon" data-name="users">👨🏻‍💼</span>
    <span class="label" data-name="users">Users</span>
  </a>
  <a href="#" data-name="roles">
    <span class="icon" data-name="roles">📄</span>
    <span class="label" data-name="roles">Roles</span>
  </a>
  <a href="#" data-name="permissions">
    <span class="icon" data-name="permissions">⚙️</span>
    <span class="label" data-name="permissions">Permissions</span>
  </a>
  <a href="#" data-name="todos">
    <span class="icon" data-name="todos">✅</span>
    <span class="label" data-name="todos">Todos</span>
  </a>
</nav>
